.m-progress-bar{
    display: flex;
    margin: 20px 120px 10px;
    user-select: none;
  }
  .m-progress-bar .p-step{
    text-align: center;
    width: 100%;
    position: relative;
  }
  .m-progress-bar .p-step .bullet,
  .m-progress-bar .p-step .bullet1{
    height: 25px;
    width: 25px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
  }
  .m-progress-bar .p-step .bullet.active,
  .m-progress-bar .p-step .bullet1.active{
    border-color: #82c2ef;
    background: #82c2ef;
  }
  .m-progress-bar .p-step .bullet b,
  .m-progress-bar .p-step .bullet1 b{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .m-progress-bar .p-step .bullet.active b,
  .m-progress-bar .p-step .bullet1.active b{
    display: none;
  }
  .m-progress-bar .p-step .bullet:before,
  .m-progress-bar .p-step .bullet:after,
  .m-progress-bar .p-step .bullet1:before,
  .m-progress-bar .p-step .bullet1:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -60px;
    height: 3px;
    width: 50px;
    background: #262626;
  }
  .m-progress-bar .p-step .bullet.active:after,
  .m-progress-bar .p-step .bullet1.active:after{
    background: #82c2ef;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .m-progress-bar .p-step:last-child .bullet:before,
  .m-progress-bar .p-step:last-child .bullet:after,
  .m-progress-bar .p-step:last-child .bullet1:before,
  .m-progress-bar .p-step:last-child .bullet1:after{
    display: none;
  }
  .m-progress-bar .p-step .check,
  .m-progress-bar .p-step .check1{
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
  }
  .m-progress-bar .p-step .check.active,
  .m-progress-bar .p-step .check1.active{
    display: block;
    color: #fff;
  }
  .alert-danger{
    padding: 0px 10px;
  }
  .operation-box{
    background-color: white;
    width: 360px;
    margin: 10% auto;
    border-radius: 30px;
  }
  @media only screen and (min-width: 250px) and (max-width: 349px) {
      .m-progress-bar{
          display: flex;
          margin: 20px 6px 10px;
          user-select: none;
      }
      .m-progress-bar .p-step .bullet:before,
      .m-progress-bar .p-step .bullet:after,
      .m-progress-bar .p-step .bullet1:before,
      .m-progress-bar .p-step .bullet1:after{
        position: absolute;
        content: '';
        bottom: 11px;
        right: -44px;
        height: 3px;
        width: 40px;
        background: #262626;
      }
      .btn-lg {
        padding: 10px 50px;
        margin: 10px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 30px;
        border: 1px solid transparent;
      }
      .logo-width{
        width: 150px;
      }
      .operation-box{
        background-color: white;
        width: 360px;
        margin: 50% auto;
        border-radius: 30px;
      }
  }
  @media only screen and (min-width: 350px) and (max-width: 379px) {
      .m-progress-bar{
          display: flex;
          margin: 20px 10px 10px;
          user-select: none;
      }
      .m-progress-bar .p-step .bullet:before,
      .m-progress-bar .p-step .bullet:after,
      .m-progress-bar .p-step .bullet1:before,
      .m-progress-bar .p-step .bullet1:after{
        position: absolute;
        content: '';
        bottom: 11px;
        right: -52px;
        height: 3px;
        width: 45px;
        background: #262626;
      }
      .operation-box{
        background-color: white;
        width: 360px;
        margin: 50% auto;
        border-radius: 30px;
      }
  }
  @media only screen and (min-width: 380px) and (max-width: 668px) {
      .m-progress-bar{
          display: flex;
          margin: 20px 20px 10px;
          user-select: none;
      }
      .operation-box{
        background-color: white;
        width: 360px;
        margin: 50% auto;
        border-radius: 30px;
      }
  }
  @media only screen and (min-width: 668px) and (max-width: 800px) {
      .m-progress-bar{
          display: flex;
          margin: 20px 175px 10px;
          user-select: none;
      }
      .operation-box{
        background-color: white;
        width: 360px;
        margin: 50% auto;
        border-radius: 30px;
      }
  }